html {
    font-size: 10px;
}

:root {
    --main-color: #375c47;
    --background-color: #f0f0f0;
    --text-color: #575757;
    --border-radius-big: 1rem;
    --border-radius-small: 0.5rem;
    --card-border: 0.1rem solid #0d1c1540;
    --shadow: 0 0 1rem #0000001a;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--background-color);
    font-size: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    color: var(--text-color);
    font-variation-settings: "wght" 400;
    line-height: 1.25;

    & p {
        margin-bottom: 2rem;
    }
}

table {
    margin: 5rem auto;
}

.logo {
    display: flex;
    margin: 0 auto 4rem;
}

.main-content {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: var(--border-radius-big);
    border: var(--card-border);
    box-shadow: var(--shadow);
    font-size: 2.4rem;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-variation-settings: "wght" 600;
    font-size: 4rem;
    color: var(--main-color);
}

.intro__user {
    & strong {
        font-variation-settings: "wght" 600;
        color: var(--main-color);
    }
}

.button {
    display: block;
    padding: 1.5rem;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    max-width: max-content;
    border-radius: var(--border-radius-big);
}

.main {
    & .main__button {
        margin: 0 auto 4rem;
    }
}

.end {
    & p {
        margin: 0;
        color: var(--main-color);
        font-variation-settings: "wght" 600;
    }
}

.trouble {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: var(--card-border);

    & .trouble__desc {
        margin-bottom: 2rem;
    }

    & .trouble__link {
        display: block;
        word-break: break-all;
        color: var(--main-color);
    }
}
